body {
	background: #1f201b;
	padding: 0;
	margin: 0;
}

header {
	padding: 0;
	margin: 0;
}

.container {
	position: fixed;
	width: 160px;
	height: 100%;
	background: #1f201b;
}

.block {
	width: 100%;
	border-bottom: 3px solid #1f201b;
	background: #393630;
}

.block1 {
	height: 55px;
}

.block2 {
	height: 45px;
}

.block3 {
	height: 235px;
}

.block4 {
	height: 100px;
}

.block5 {
	height: 100px;
}

.block6 {
	height: 40px;
}

.block7 {
	height: 100px;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.block2 ul {
	position: relative;
    left: 7px;
    top: 5px;
}

li {
	display: inline-block;
    width: 35px;
    height: 35px;
    background: #d9d8b8;
    border-radius: 50%;
}

.block2 li {
    margin: 0px 10px 0 3px;
}

.ava {
	position: relative;
    top: 8px;
    left: 12px;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background: #d9d8b8;
}

.personal-section {
	float: left;
	width: 100px;
}

.personal-section ul {
	margin: 22px 0 0 7px;
}

.personal-section li {
	margin: 0 0 5px 5px;
}

.social-section {
	float: right;
	width: 55px;
	margin: -80px 0px;
	padding: 5px 0 5px 0;
	border-left: 2px solid #1f201b;
}

.social-section li {
	margin: 5px 0 5px 10px;
}

.pc-section,
.home-section {
	width: 100px;
}

.game-section,
.global-section {
    border-left: 2px solid #1f201b;
    width: 60px;
    height: 100%;
    margin: -80px 0 0 103px;
}

.game-section ul {
	float: right;
    width: 45px;
	margin: 10px 5px 10px 0;
}

.game-section li {
	margin: 0px 0 10px 0;
}

.global-section ul {
	margin: 0px 0 0 10px;
}

.global-section li {
	margin: 5px 0 5px 0;
}

.block6 ul {
	margin: 0;
}

.block6 li {
	width: 28px;
    height: 28px;
    margin: 5px 0 5px 17px;
}